.register-page {
    display: flex;
    background-color: #f5f5f5;
    height: 100%;
    margin: 0.3rem;
}

.register-container {
    background: #fff;
    padding: 0.5rem;
    box-shadow: 1px 1px 3px rgba(28, 28, 167, 0.485);
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.register-title {
    font-size: 20px;
    color: #015CA9;
    margin-bottom: 20px;
    /* text-align: center; */
}

.register-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    height: 70%;
    /* background: red; */

}

.column {
    flex: 1;
    height: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons-flex {
    margin-top: 1rem;
    display: flex;
    gap: 0 10px;
}

.form-group-register label {
    font-size: .82rem;
    font-weight: 600;
    color: #333;
    /* margin-bottom: 7px; */
    background-color: #ffffff;
    /* Fix the background color of labels */
    padding: 0 0 0 2px;
    border-radius: 4px;
}

.form-group-select-options select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #06355cea;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;

}

.form-group-register input,
.form-group-register select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #06355cea;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
}

.form-group-register input:focus {
    outline: 1px solid #06355cea;
}


.register-button {
    background-color: rgb(212, 24, 24);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: .5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.426);
}

.register-button:hover {
    background-color: #b10f1f;
}

.availablePermissions-list {
    list-style: none;
    overflow-y: scroll;
    border-radius: 5px;
    height: 100%;
    border: 2px solid #0b416d;
    font-size: 13.5px;
}

.selectedPermissions-list {
    list-style: none;
    overflow-y: scroll;
    border-radius: 5px;
    height: 100%;
    border: 2px solid #0b416d;
    font-size: 13.5px;
}


.permissions-title {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #ffffff;
    font-weight: 600;
    text-align: center;
    font-size: .82rem;
}

.selected-permissions-title {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #ffffff;
    font-weight: 600;
    text-align: center;
    font-size: .82rem;
}

.availablePermissions-list li {
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

.availablePermissions-list li:hover {
    background: whitesmoke;
    color: green
}

.availablePermissions-list li:hover .availablePermissions-down-arrow {
    color: green;
}


.selectedPermissions-list li {
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}


.selectedPermissions-list li:hover {
    color: rgb(212, 24, 24);
    background-color: whitesmoke;
}

.selectedPermissions-list li:hover .selectedPermissions-up-arrow {
    color: rgb(212, 24, 24);
}

.availablePermissions-down-arrow,
.selectedPermissions-up-arrow {
    color: #015CA9;
}

.clear-button {
    background-color: #015CA9;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: .5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.426);
}

.clear-button:hover {
    background-color: #021f37;
}

select {
    height: 40px;
}

.form-group-add-permissions-list {
    height: 50%;
    margin-top: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-group-add-permissions-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}