.register-page {
    display: flex;
    background-color: #f5f5f5;
    height: 100%;
    margin: 0.3rem;
}

.register-container {
    background: #fff;
    padding: 0.5rem;
    box-shadow: 1px 1px 3px rgba(28, 28, 167, 0.485);
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

.register-title {
    font-size: 20px;
    color: #015CA9;
    margin-bottom: 20px;
    /* text-align: center; */
}

.register-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    height: 70%;
    /* background: red; */

}

.column {
    flex: 1;
    height: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons-flex {
    margin-top: 1rem;
    display: flex;
    gap: 0 10px;
}

.form-group label {
    font-size: .82rem;
    font-weight: 600;
    color: #333;
    /* margin-bottom: 7px; */
    background-color: #ffffff;
    /* Fix the background color of labels */
    padding: 0 0 0 2px;
    border-radius: 4px;
}

.form-group input,
.form-group select {
    padding: 10px;
    font-size: 14px;
    border: 2px solid #0b416d;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;

}

.register-button {
    background-color: rgb(212, 24, 24);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: .5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.426);
}

.register-button:hover {
    background-color: #b10f1f;
}

.permission-list {
    list-style: none;
    overflow-y: scroll;
    border-radius: 5px;
    height: 100%;
    border: 2px solid #0b416d;
}

.selectedPermission-list {
    list-style: none;
    overflow-y: scroll;
    border-radius: 5px;
    height: 100%;
    border: 2px solid #0b416d;
}


.persmisson-title{
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
    background-color: #ffffff;
    font-weight: 600;
    text-align: center;
    font-size: .82rem;
}

.selected-permissons-title{
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
    background-color: #ffffff;
    font-weight: 600;
    text-align: center;
    font-size: .82rem;
}

.permission-list li {
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

.permission-list li:hover {
    background: #024e8db7;
    color: #fff;
}

.selectedPermission-list li {
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}


.selectedPermission-list li:hover {
    background: #b10f1f;
    color: #fff;
}


.clear-button {
    background-color: #015CA9;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: .5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.426);
}

.clear-button:hover {
    background-color: #021f37;
}

select {
    height: 40px;
}

.form-group-list {
    height: 50%;
    margin-top: .3rem;
    display: flex;
    flex-direction: column;
}